$lightest-color: #00DFFC;
$light-color: #00B4CC;
$medium-color: #008C9E;
$dark-color: #005F6B;
$invalid-color: #e08690;
$login-bg-color: rgba(0, 95, 107, 0.2);

#newPostForm, #editPostForm {
  width: 90%;
  margin: auto;
  padding-bottom: 64px;
  @include respond-to(medium) {
    width: 85%;
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-around;
    input[type=submit]{
      margin-top: 16px;
      width: 80px;
    }
    a {
      margin-top: 16px;
      button {
        width: 80px;
      }
    }
    #editButtons {
      input, a {
        margin-right: 16px;
      }
    }
    input[type=text], textarea {
      color: $lightest-color;
      background-color: $dark-color;
      border: none;
      box-shadow: 1px 1px 1px $medium-color, -1px -1px 1px #181C20;
      padding: 2px;
      padding-left: 4px;
    }
  }
}

textarea, input[type=text] {
  width: 100%;
  resize: vertical;
  font-family: sans-serif;
  @include respond-to(medium) {
    width: 62.5%;
  }
}

#login {
  padding-bottom: 56px;
  font-size: 14px;
  color: $lightest-color;
  width: 50%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  @include respond-to(medium) {
    width: 85%;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  form {
    h5 {
      font-size: 9px;
      font-weight: normal;
    }
    background-color: $login-bg-color;
    border: 1px solid $medium-color;
    padding: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    @include respond-to(medium) {
      margin-right: 8px;
    }
    input, button, a {
      margin: auto;
      width: 180px;
    }
    input[type=text], input[type=password], input[type=email] {
      color: $lightest-color;
      background-color: $dark-color;
      border: none;
      box-shadow: 1px 1px 1px $medium-color, -1px -1px 1px #181C20;
      padding: 2px;
      padding-left: 4px;
    }
  }
  #invalid {
    border: 1px solid black;
    box-shadow:  0px 0px 2px $invalid-color, 0px 0px 4px $invalid-color;
  }
}