$border-color: #008C9E;

#buttons {
  margin: auto;
  margin-bottom: 8px;
  width: 85%;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: center;
  @include respond-to(medium) {
    text-align: right;
    width: 80%;
    justify-content: flex-start;
  }
  a {
    flex-shrink: 1;
    width: 25%;
    min-width: 80px;
    margin-left: 8px;
    @include respond-to(medium) {
      width: 88px;
    }
    text-align: right;
    button {
      width: 100%;
      @include respond-to(medium) {
        width: 80px;
      }
    }
  }
  h5 {
    margin: 0px;
    display: inline-block;
  }
}

#gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  margin-top: 8px;
  width: 95%;
  @include respond-to(medium) {
    width: 100%;
  }
}
.galleryPreview {
  width: 100%;
  @include respond-to(medium) {
    width: 32%;
  }
}

.preview {
  width: 100%;
  @include respond-to(medium) {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 300px;
  }
}

#featured {
  margin: auto;
  padding: 8px;
  border-bottom: 1px solid $border-color;
  width: 85%;
  @include respond-to(medium) {
    width: 80%;
  }
}

#featuredImage {
  width: 100%
}