$border-color: #008C9E;
$dark-color: #005F6B;
$bg-color: rgba(0, 95, 107, 0.2);

#buttons {
  margin: auto;
  margin-bottom: 8px;
  width: 85%;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: center;
  @include respond-to(medium) {
    text-align: right;
    width: 80%;
    justify-content: flex-start;
  }
  a {
    flex-shrink: 1;
    width: 25%;
    min-width: 80px;
    margin-left: 8px;
    @include respond-to(medium) {
      width: 88px;
    }
    text-align: right;
    button {
      width: 100%;
      @include respond-to(medium) {
        width: 80px;
      }
    }
  }
  h5 {
    margin: 0px;
    display: inline-block;
  }
}

#gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  margin-top: 8px;
  width: 95%;
  @include respond-to(medium) {
    width: 100%;
  }
}
.galleryPreview {
  width: 100%;
  @include respond-to(medium) {
    width: 32%;
  }
}

.preview {
  width: 100%;
  @include respond-to(medium) {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 300px;
  }
}

#featured {
  margin: auto;
  margin-bottom: 4px;
  padding: 8px;
  background-color: $bg-color;
  width: 85%;
  box-shadow: 0px 2px 1px #181C20;
  @include respond-to(medium) {
    width: 80%;
  }
}

#featuredImage {
  width: 100%;
}